.categories-section{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    text-align: start;
    align-items: flex-start;
    width: 200px;
    margin-top: 9%;
}
.categories-section p{
    color: var(--neutrals-600, #595250);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    align-self: stretch;
}
.categories-section input{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.categories-section label{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--neutrals-grey-100, #161616);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
@media only screen and (max-width: 1041px){
    .categories-section{
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 992px){
    .categories-section{
        display: none;
    }
}