.srch-bar{
    display: flex;
    width: 384px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--neutrals-grey-50, #8D8D8D);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
} 


@media only screen and (max-width: 1041px){
    .search-bar-container{
        display: flex;
        width: 342px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
